/* --------------------------------------------------------------
   GLOBAL
-------------------------------------------------------------- */

@import url("//fonts.googleapis.com/css?family=Open+Sans:400,600");

body {
    background-color: #1A4D80;
}

body,
input,
button,
select,
textarea {
  font-family: "Open Sans", Verdana, Tahoma, serif;
}

a {
    color: #202F60;
}

h1 {
    color: #666;
    font-size: 1.4em;
    font-weight: normal;
    margin: 0 0 20px 0;
}
h2 {
    color: #000;
    font-size: 1.2em;
    font-weight: normal;
    margin: 10px 0 15px 0;
}
h3 {
    font-size: 14px;
    font-weight: normal;
    color: #666;
    margin: 0 0 20px 0;
}

.btn-container {
    padding: 10px 0;
    text-align: center;
}

.top-margin-5 {
    margin-top: 5px;
}

.bottom-margin-5 {
    margin-bottom: 5px;
}

.top-margin-10 {
    margin-top: 10px;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

.select-inline {
    display: inline;
    min-width: 20%;
    max-width: 50%;
    width: auto;
}

.topbar {
    padding: 0 15px;
    background-color: #fff;
    height: 25px;
    line-height: 25px;
    color: #ccc;
    font-size: 0.9em;
    overflow: hidden;
}
.topbar a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.topbar a:hover {
    text-decoration: underline;
}
.topbar .date {
    color: #999999;
}

.footerbar {
    margin: 0 0 10px 0;
    padding: 0 15px;
    background-color: #1A4D80;
    color: #fff;
    font-size: 0.8em;
}
.footerbar a {
    color: #fff;
}

.header {
    margin: 0;
    padding: 0;
    height: 48px;
    background-color: #1A4D80;
    text-align: left;
    border: 0;
}
.header .logo {
    margin: 0;
    padding: 0 25px;
    font-family: Tahoma;
    line-height: 1;
}
.header .stats {
    position: absolute;
    top: 42px;
    left: 0;
    max-width: 1330px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 0.8em;
    margin: 0;
}
.header .stats a {
    text-decoration: none;
    color: #fff;
}
.header .stats a:hover {
    text-decoration: underline;
}
.header .stats .stat {
    font-weight: bold;
    color: #ffcc00;
}

#sidebaropen {
    position: absolute;
    top: 200px;
    left: 0;
}

#sidebar {
    float: left;
    margin: 10px 0 40px 0;
    padding: 15px 10px 10px 10px;
    width: 195px;
    background-color: #F1F0E7;
    border: 4px solid #E2E0CD;
    border-left: 0;
    -moz-border-radius: 0 10px 10px 0;
    -webkit-border-radius: 0 10px 10px 0;
    -o-border-radius: 0 10px 10px 0;
    border-radius: 0 10px 10px 0;
}

#sidebar ul.menu li {
    line-height: 1.2;
}

#sidebar a {
    font-size: 0.9em;
    text-decoration: underline;
}

#sidebar .controls {
    padding: 50px 0 0 0;
    font-size: 10px;
}

#sidebar span.header {
    display: block;
    margin: 0;
    padding: 0 0 5px 0;
    height: auto;
    min-width: 100px;
    background-color: #F1F0E7;
    border: 0;
    text-align: left;
    font-weight: bold;
}

#sidebar ul.menu {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    border-top: 0;
}

#sidebar ul.menu li {
    padding: 1px 0 1px 10px;
}

#sidebar select {
    margin: 0 0 5px 0;
}

.contentarea {
    margin: 10px 10px;
    padding: 15px;
    min-height: 600px;
    background-color: #fff;
    border: 4px solid #E2E7E9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
}

.homebox {
    margin: 0 0 15px 0;
    padding: 5px;
    background-color: #fff;
    border: 2px solid #E2E7E9;
}

.contextbar {
    margin: 0;
    padding: 10px;
    background-color:#666;
    font-size: 14px;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.contexthelp {
    float: right;
    margin: 0;
    padding: 5px 20px;
    border: 1px solid #FBEB20;
    background-color: #FFFFD5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.contexthelp a {
    color: #000;
}

/* --------------------------------------------------------------
   INTELLIGENT SEARCH
-------------------------------------------------------------- */

.intellisearch {
    position: absolute;
    top: 0;
    right: 0;
    margin: 48px 20px;
    text-align: right;
}
.intellisearch #intellisearchval {
    margin: 0;
    padding: 4px 10px 4px 25px;
    border: 2px solid #fff;
    width: 200px;
    background-image: url('../../images/icons/search.png');
    background-repeat: no-repeat;
    background-position: 6px 7px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.intellisearch #intellisearchval:focus {
    border: 2px solid #DEB101;
}
#searchresults .close {
    padding: 4px 10px 2px;
    text-align: right;
    color: #000;
    font-size: 10px;
}
#searchresults {
    display: none;
    position: absolute;
    top: 82px;
    right: 0;
    width: 450px;
    margin: 0;
    padding: 3px;
    font-size: 12px;
    border: 5px solid #fff;
    border-right: 1px solid #fff;
    background-color: #fff;
    text-align: left;
    z-index: 10;
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
    -moz-box-shadow: 0px 0px 5px #ccc;
    -webkit-box-shadow: 0px 0px 5px #ccc;
    -o-box-shadow: 0px 0px 5px #ccc;
    box-shadow: 0px 0px 5px #ccc;
}
#searchresultsscroller {
    max-height: 400px;
    margin: 0;
    padding: 0;
    overflow: auto;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#searchresults .searchresultheader {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    color: #000;
}
#searchresults .searchresult {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 2px 5px 2px 8px;
    margin: 0 5px 2px 0;
    font-size: 11px;
    overflow: hidden;

}
#searchresults .searchresult .label {
    float: right;
    right: 5px;
    margin: 6px 5px 0 5px;
    z-index: 500;
}
#searchresults .searchresult .desc {
    width: 200px;
    color: #888;
    overflow: hidden;
}
#searchresults .searchresult:hover {
    background-color: #f8f8f8;
    border: 1px dashed #666;
}
#searchresults .searchresult a {
    text-decoration: none;
    display: block;
}

#clientsearchresults {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 0;
    white-space: nowrap;
    font-size: 11px;
    font-family: Tahoma;
}
#ticketclientsearchresults {
    position: absolute;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 3px;
    margin: 0 10px 0 0;
    display: none;
    white-space: nowrap;
    font-size: 11px;
    font-family: Tahoma;
}
#clientsearchresults .searchresultheader, #ticketclientsearchresults .searchresultheader {
    background-color:#ccc;
    padding:2px;
    font-weight:bold;
    text-align:center;
}
#clientsearchresults .searchresult, #ticketclientsearchresults .searchresult {
    background-color:#f4f4f4;
    border-top: 3px solid #fff;
    padding: 2px 0 2px 5px;
}
#clientsearchresults .searchresult .desc, #ticketclientsearchresults .searchresult .desc {
    color: #888;
}
#clientsearchresults .searchresult:hover, #ticketclientsearchresults .searchresult:hover {
    background-color: #fff;
}
#clientsearchresults .searchresult a, #ticketclientsearchresults .searchresult a {
    text-decoration: none;
    display: block;
}
#clientsearchcancel {
    display: none;
}

/* --------------------------------------------------------------
   NAVIGATION
-------------------------------------------------------------- */

.navigation {
    margin:0px;
    padding:0px;
    height:45px;
    background-color: #1A4D80;
    border: 0;
    border-bottom: 10px solid #fff;
}
.navigation ul {
    padding: 0 0 0 275px;
    margin: 0;
    border: 0;
    float:left;
    position:relative;
    text-align:center;
    list-style: none;
}
.navigation ul li {
    background-color:#2162A3;
    padding:0;
    margin:0 0 0 5px;
    height:35px;
    width:80px;
    line-height:35px;
    text-align:center;
    float:left;
    position:relative;
    cursor: hand;
    cursor: pointer;
    text-decoration:none;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
    font-size: 0.9em;
}
.navigation ul li:hover {
    background-color:#E9F0FE;
    text-decoration:none;
}
.navigation ul li a:hover {
    display:block;
}
.navigation ul li a {
    color: #fff;
    text-decoration: none;
}
.navigation ul li ul {
    position:absolute;
    display:none;
    padding: 0;
    margin: 0;
    float:none;
    width:180px;
    min-width:0;
    background-color:#2162A3;
    border:5px solid #2162A3;
    z-index: 100;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.navigation ul li:hover ul, .navigation ul li:hover ul li:hover ul {
    position:relative;
    display:block;
    float:none;
}
.navigation ul li ul li {
    padding: 0;
    margin: 0;
    width:170px;
    height: 23px;
    line-height: 22px;
    text-decoration:none;
    font-weight: normal;
    text-align:left;
    display:block;
    float:none;
    background-color:#2162A3;
    border-bottom:1px solid #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    font-size: 1.0em;
}
.navigation ul li ul li:first-child {
    border-top:1px solid #fff;
}
.navigation ul li ul li.expand {
    background-image:url('images/menuexpand.png');
    background-repeat:no-repeat;
    background-position:155px 6px;
}
.navigation ul li:hover ul li ul {
    display:none;
}
.navigation ul li ul li a, .navigation ul li:hover ul li a, .navigation ul li ul li:hover ul li a {
    margin: 0;
    padding: 0 0 0 10px;
    font-weight:normal;
    color: #fff;
    text-decoration:none;
    display:block;
}
.navigation ul li ul li ul {
    display:none;
    margin: -25px 0 0 170px;
    -moz-border-radius: 0 5px 5px 5px;
    -webkit-border-radius: 0 5px 5px 5px;
    -o-border-radius: 0 5px 5px 5px;
    border-radius: 0 5px 5px 5px;
}
.navigation ul li:hover a, .navigation ul li ul li:hover a, .navigation ul li ul li:hover ul li:hover a {
    color:#000;
}

/* --------------------------------------------------------------
   TABLES
-------------------------------------------------------------- */

table.form {
    background-color: #fff;
    margin: 0 0 5px 0;
    padding: 0px;
    border: 3px solid #E2E7E9;
    border-collapse: separate;
    border-spacing: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
table.form td {
    padding: 3px 5px;
}
table.form td.fieldlabel {
    background-color: #fff;
    text-align: right;
}
table.form td.fieldarea {
    background-color: #efefef;
    text-align: left;
}
div.tablebg {
    margin: 1em 0;
}
table.datatable {
    margin: 0 0 10px 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 1px;
}
table.datatable th {
    padding: 4px;
    background-color: #1A4D80;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
table.datatable th.domain-pricing-head {
    width: 90px;
    min-width: 80px;
}
table.datatable td {
    padding: 3px;
    background-color: #FFF;
    border-bottom: 1px solid #EBEBEB;
}
table.datatable tr.rowhighlight td {
    background-color: #E0E8F3;
}
table.datatable tr.domain-pricing-row td {
    height: 43px;
}
table.datatable tr td.field-highlight {
    background-color: #EFEFEF;
}
table.datatable tr:hover td {
    background-color: #EFF2F9;
}
table.datatable th, table.datatable th a, table.datatable th a:visited {
    color: #FFF;
    text-decoration: none;
}
table.datatable th a:hover {
    color: #FFF;
    text-decoration: underline;
}
table.datatable tr:hover td {
    background-color: #F3F3F3;
}
table.datatable tr.grey-out td, table.datatable tr.grey-out td a {
    color: #999;
}
table.padded-fields td {
    padding: 2px;
}

/* --------------------------------------------------------------
   SPECIAL CLASSES
-------------------------------------------------------------- */

.absmiddle {
    vertical-align: middle;
    margin-bottom: .25em;
}
.clear {
    clear: both;
}
.smallfont {
    font-size: 0.8em;
}

/* --------------------------------------------------------------
   INFO BOXES
-------------------------------------------------------------- */

.infobox span.title, .successbox span.title, .errorbox span.title {
    font-size: 1.2em;
    font-weight: bold;
}
.infobox {
    background-image: url('../../images/info.png');
    background-repeat: no-repeat;
    background-position: 15px;
    margin: 10px 0;
    padding: 6px 10px 6px 60px;
    min-height: 28px;
    background-color: #FAF6D4;
    border: 1px solid #E6C26E;
    color: #000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.infobox span.title {
    color: #BE8007;
}
.successbox {
    background-image: url('../../images/success.png');
    background-repeat: no-repeat;
    background-position: 15px;
    margin: 10px 0;
    padding: 6px 5px 6px 60px;
    min-height: 28px;
    background-color: #D9E6C3;
    border: 1px solid #77AB13;
    color: #000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.successbox span.title {
    color: #69990F;
}
.errorbox {
    background-image: url('../../images/error.png');
    background-repeat: no-repeat;
    background-position: 15px;
    margin: 10px 0;
    padding: 6px 5px 6px 60px;
    min-height: 28px;
    background-color: #F2D4CE;
    border: 1px solid #AE432E;
    color: #cc0000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.errorbox span.title {
    color: #AE432E;
}
.contentbox {
    text-align: center;
    background-color: #f7f7f7;
    border: 1px dashed #cccccc;
    padding: 10px;
}
.invoicetooltip {
    border: 1px solid #F0EADE;
    background-color: #F3F4EC;
    color: #000000;
    padding: 5px;
    z-index: 100;
}

.gracefulexit {
    margin: 100px auto;
    padding: 40px 25px;
    width: 60%;
    background-color: #FFF4F4;
    border: 2px dashed #FFD7D7;
    color: #000;
    font-size: 18px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;

}

/* --------------------------------------------------------------
   TEXT COLORS
-------------------------------------------------------------- */

.textblack {
    color: #000000;
}

.textblue {
    color: #224488;
}

.textgreen {
    color: #779500;
}

.textgrey {
    color: #888888;
}

.textgold {
    color: #ffbb55;
}

.textorange {
    color: #ff6600;
}

.textred {
    color: #cc0000;
}

/* --------------------------------------------------------------
   STATUS LABELS
-------------------------------------------------------------- */

.label {
    padding: 1px 3px 2px;
    background-color: #BFBFBF;
    font-size: 10px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.pending, .label.collections {
    background-color: #F89406;
}
.label.active, .label.paid {
    background-color: #46A546;
}
.label.suspended, .label.expired, .label.refunded {
    background-color: #0768B8;
}
.label.terminated, .label.closed, .label.unpaid {
    background-color: #C43C35;
}
.label.cancelled {
    background-color: #BFBFBF;
}
.label.fraud {
    background-color: #000;
}

/* --------------------------------------------------------------
   DATE PICKER
-------------------------------------------------------------- */

.datepick {
    width: 123px;
}
.datepick + img {
    position: relative;
    left: -23px;
    top: -2px;
}

.date-picker {
    display: inline;
    width: 140px;
}
.date-picker + img {
    position: relative;
    left: -25px;
    top: -2px;
}

#ui-datepicker-div {
    z-index: 9999 !important;
}

/* --------------------------------------------------------------
   ADMIN HOMEPAGE
-------------------------------------------------------------- */

.homewidget {
    margin: 5px 0 10px;
    padding: 0;
    border: 1px solid #efefef;
    border-top: 3px solid #efefef;
    border-bottom: 2px solid #efefef;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.widget-header {
    margin: 0;
    padding: 5px 10px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #efefef;
    font-weight: bold;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.widget-header .ui-icon {
    float: right;
}
.homewidget .widget-content {
    padding: 5px;
    overflow: hidden;
}
.widget-content .label {
    padding-right: 5px;
    text-align: right;
}
.homewidget .widget-content .fixed-height-container {
    max-height: 300px;
    overflow: auto;
}
.homewidget .widget-footer {
    margin: 5px -5px -5px -5px;
    padding: 5px 10px;
    background-color: #f8f8f8;
    text-align: right;
}

.homewidget .activity-log-entry {
    margin: 0;
    padding: 5px 10px;
    background-color: #f6f6f6;
    border-top:1px solid #efefef;
    font-size:0.9em;
}
.homewidget .activity-log-entry small {
    color: #ccc;
}

.ui-sortable-placeholder {
    border: 1px dashed #ccc;
    visibility: visible !important;
    height: 50px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

@media (min-width:992px) {
    .homecolumn.left {
        margin-right: -10px;
    }
    .homecolumn.right {
        margin-left: -10px;
    }
}

/* --------------------------------------------------------------
   CLIENT SUMMARY PAGE
-------------------------------------------------------------- */

.client-summary-panels {
    margin-right: -3px;
    margin-left: -3px;
}
.client-summary-panels > [class*='col-'] {
    padding-right: 3px;
    padding-left: 3px;
}

.clientssummarybox {
    background-color: #f4f4f4;
    padding: 10px;
    margin: 10px 0 5px 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.clientssummarybox .title {
    text-align: center;
    padding: 0 0 10px 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: #1A4D80;
}
.clientssummarybox ul {
    list-style-type: none;
    margin: 10px 0 0 0;
}
.clientssummarybox ul li {
    margin: 0 0 2px -20px;
}
table.clientssummarystats {
    width: 100%;
    border: 4px solid #fff;
    border-radius: 4px;
}
table.clientssummarystats td {
    padding: 2px 4px;
    background-color: #fff;
    font-size: 11px;
}
table.clientssummarystats tr.altrow td {
    background-color: #f8f8f8;
}
.clientsummaryactions {
    float:right;
    margin: 0;
    padding:4px 15px;
    border:1px dashed #BEDCF3;
    background-color:#EDF5FC;
    font-size:14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
#clientsimportantnotes {
    clear: both;
    overflow: auto;
    margin: 15px 0 10px 0;
    padding: 5px 5px 0 5px;
    max-height: 150px;
    background-color: #fff;
    border: 2px dashed #E0E0E0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

#clientsummarycontainer #statusfilter {
    display:none;
    position: absolute;
    margin: -5px 0 0 0;
    padding: 15px;
    width: 150px;
    right: 36px;
    background-color: #fff;
    border: 2px solid #E2E7E9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#clientsummarycontainer div.checkall {
    text-align: right;
    font-size: 11px;
}

#clientsummarycontainer div.applybtn {
    padding: 10px 0 0 0;
    text-align: center;
}

/* --------------------------------------------------------------
   SUPPORT TICKETS
-------------------------------------------------------------- */

.ticketlastreply {
    float: right;
    margin: -45px 0 0 0;
    padding: 5px 15px;
    font-size: 11px;
    background-color: #333;
    color: #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

#ticketreplies .reply {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #C5D8EB;
    background-color: #F7FAFD;
    box-shadow: 0 0 5px #CEE0F0;
}

#ticketreplies .staffreply {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #EFE9D3;
    background-color: #FAF8F1;
    box-shadow: 0 0 5px #F3EFDE;
}

#ticketreplies .reply .leftcol, #ticketreplies .staffreply .leftcol {
    float: left;
    width: 200px;
}

#ticketreplies .reply .rightcol, #ticketreplies .staffreply .rightcol {
    margin-left: 200px;
    border-left: 1px solid #e5e5e5;
    min-height: 150px;
}

#ticketreplies .submitter {
    text-align: right;
    padding: 15px 20px;
}

#ticketreplies .submitter .name {
    font-weight: bold;
}

#ticketreplies .submitter .title {
    font-size: 11px;
    font-style: italic;
    color: #8BB1D8;
    padding: 4px 12px;
}

#ticketreplies .tools {
    margin: 0;
    padding: 0 20px;
    text-align: right;
}

#ticketreplies .postedon {
    padding: 10px 12px 0 12px;
    font-size: 11px;
    color: #999;
}

#ticketreplies .quoteicon {
    float: right;
    padding: 10px;
}

#ticketreplies .msgwrap {
    padding: 10px;
}

#ticketreplies .message {
    padding: 0;
    color: #000;
}

.ticketstaffnotes {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: #FFFFE6;
    border: 1px dashed #DACD83;
}

.ticketstaffnotes table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px dashed #DACD83;
}

.ticketstaffnotes table td {
    padding: 2px 10px;
    font-weight: bold;
    color: #695F1F;
}

.ticketstaffnotes div {
    margin: 0;
    padding: 8px 10px;
}

.ticketflag {
    background-color: #FFFFCC;
}

.ticketattachmentcontainer {
    float:left;
    padding:0 10px 10px 0;
    margin: 0;
    text-align:center;
}

.ticketattachmentthumb {
    padding:10px;
    margin:0 0 3px 0;
    background-color:#fff;
    border:1px solid #ccc;
    text-decoration: none;
}

#prerepliescontainer {
    display: none;
}

#prerepliescontainer #predefq {
    background-image: url("../../images/icons/search.png");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 2px 2px 2px 25px;
    border: 1px solid #ccc;
}

#prerepliescontainer .box {
    margin:10px auto;
    padding:5px;
    background-color: #fff;
    border:1px solid #ccc;
    text-align:left;
    width:80%;
    min-height: 22px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    z-index: 100;
}

#sidebar .ticketheader {
    display: block;
    margin: 0;
    padding: 0 0 2px 0;
    text-align: left;
    font-style: italic;
    font-size: 0.9em;
    color: #666;
}

#sidebar .ticketinfo {
    padding: 0 0 2px 0;
    margin: 0;
}

#sidebar .select-assignto {
    display: inline;
    width: 145px;
}

#sidebar #ticketTags {
    border: 1px solid #ccc;
    border-radius: 4px;
}

#sidebar .tagcloud {
    margin: 0 0 15px 0;
    padding: 5px;
    background-color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#sidebar .tagcloud a {
    color: #9B9B9B;
    text-decoration: none;
}

#sidebar .tagcloud a:hover {
    text-decoration: underline;
}

#relatedservicesexpand {
    margin: -5px 15px 15px 15px;
    text-align: right;
}

/* --------------------------------------------------------------
   EMAIL TEMPLATES
-------------------------------------------------------------- */

.emailtplstandard {
    float:left;
    width:28%;
    margin:10px;
    padding:10px 20px 10px 20px;
    background-color:#efefef;
}

.emailtplcustom {
    float:left;
    width:28%;
    margin:10px;
    padding:10px 20px 10px 20px;
    background-color:#fff4d5;
}

.emailtpldisabled {
    float:left;
    width:28%;
    margin:10px;
    padding:10px 20px 10px 20px;
    background-color:#ffe8e8;
}
.disabledtext {
    color:#999;
    font-style:italic;
}

/* --------------------------------------------------------------
   ADDON MODULES DIRECTORY
-------------------------------------------------------------- */

#addonscats {
    background-color:#fff;
    float:left;
    width:200px;
    padding:10px 0 0 0;
}
#addonscats .cat {
    padding:5px 10px 5px 10px;
    margin:5px 0 5px 0;
    border:2px solid #7EAADA;
    border-right:0;
    text-align:right;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
    -moz-border-radius-topleft: 5px;
    -webkit-border-radius-topleft: 5px;
    -o-border-radius-topleft: 5px;
    border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -o-border-radius-bottomleft: 5px;
    border-radius-bottomleft: 5px;
}
#addonscats .cat.addonsel {
    background-color: #EBF2FA;
    color: #4081C8;
    font-weight: bold;
}
#addonslist {
    border:2px solid #7EAADA;
    padding:10px;
    height: 500px;
    overflow:auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#addonslist .heading {
    font-family: Arial;
    font-size: 20px;
    margin: 0 0 15px 20px;
    color: #3068A7;
}
#addonslist .loading {
    text-align:center;
    font-size:16px;
    padding:60px 0 0 0;
}
#searchaddons {
    text-align: right;
    padding: 0 20px 5px 0;
}

/* --------------------------------------------------------------
   REPORTS
-------------------------------------------------------------- */

table.reportslisting {
    width: 80%;
    margin: 0 auto;
}

table.reportslisting td {
    width: 33%;
    height: 45px;
    text-align: center;
    font-size: 14px;
}

table.reportslisting td a {
    padding: 10px 50px;
    border: 2px solid #efefef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

table.reportslisting td a:hover {
    padding: 10px 50px;
    border: 2px solid #efefef;
    background-color: #f2f2f2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

/* --------------------------------------------------------------
   ORDER SUMMARY
-------------------------------------------------------------- */

.ordersummarytitle {
    font-family:Arial;
    font-size:20px;
    text-align:center;
}
.ordersummaryleftcol {
    width:60%;
    min-width:600px;
}
#ordersummary {
    margin: 20px 0 10px 0;
    padding: 0;
    border: 1px solid #B4B4B4;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    -o-box-shadow: 0px 0px 20px #ccc;
    box-shadow: 0px 0px 20px #ccc;
}
#ordersummary table {
    width: 100%;
}
#ordersummary tr td {
    padding: 3px 10px;
}
#ordersummary tr.item td {
    padding: 10px 10px 12px 10px;
    border-bottom: 1px dashed #B4B4B4;
}
#ordersummary div.itemtitle {
    font-size: 16px;
}
#ordersummary div.itempricing {
    text-align: right;
    font-size: 20px;
}
#ordersummary td.alnright {
    text-align: right;
}
#ordersummary tr.subtotal td {
    background-color: #FFFFDF;
    font-size: 14px;
    padding: 4px 10px;
}
#ordersummary tr.promo td {
    background-color: #FFE1E1;
    font-size: 12px;
    padding: 4px 10px;
}
#ordersummary tr.tax td {
    background-color: #E6F7FF;
    font-size: 12px;
    padding: 4px 10px;
}
#ordersummary tr.total td {
    background-color: #E7FFDA;
    font-size: 26px;
    padding: 6px 10px;
}
#ordersummary tr.recurring td {
    background-color: #FFE1E1;
    font-size: 12px;
    padding: 4px 10px;
}

/* --------------------------------------------------------------
   CHAT TRANSCRIPTS
-------------------------------------------------------------- */

div.chat div.visitor div.name, div.chat div.operator div.name {
    font-weight: bold;
}
div.chat div.visitor div.message, div.chat div.operator div.message {
    padding: 0 25px;
}

/* --------------------------------------------------------------
   ADMIN DIALOG
-------------------------------------------------------------- */

div.admindialog {
    display:none;
    margin: 0;
    width: 598px;
    background-color: #194c80;
    border: 10px solid #194c80;
    -moz-box-shadow: 5px 0px 20px #535353;
    -webkit-box-shadow: 5px 0px 20px #535353;
    -o-box-shadow: 5px 0px 20px #535353;
    box-shadow: 5px 0px 20px #535353;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    z-index:10000;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div.admindialog * {
    line-height: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div.admindialog div.tabs a {
    float: left;
    display:block;
    margin: 0 0 0 10px;
    padding: 5px 20px;
    background-color: #2162A3;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
div.admindialog div.tabs a:hover {
    background-color: #2B7DD0;
}
div.admindialog a.close {
    display:block;
    float: right;
    margin: 0;
    padding: 0 5px 2px 5px;
    color: #194c80;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
div.admindialog a.close:hover {
    color: #000;
}
div.admindialog div.content {
    margin: 0;
    padding: 0;
    min-height: 300px;
    background-color: #fff;
    border: 4px solid #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
div.admindialog div.donotshow {
    margin: 0;
    padding: 8px 10px 0 10px;
    color: #fff;
    font-size: 10px;
}

/* --------------------------------------------------------------
   SERVICES
-------------------------------------------------------------- */

a.moduleloginlink {
    color: #cc0000;
}

/* --------------------------------------------------------------
+   BOOTSTRAP OVERRIDES
+-------------------------------------------------------------- */

.padding-two {
    padding-left: 2px;
    padding-right: 2px;
}

div.userdetails {
    font-size: 22px;
}

/* --------------------------------------------------------------
   RESPONSIVE BEHAVIOUR
-------------------------------------------------------------- */

@media (max-width:1290px) {
    .intellisearch {
        margin: 38px 15px;
    }
    .intellisearch #intellisearchval {
        padding: 2px 10px 2px 25px;
        background-position: 4px 5px;
    }
}

@media (max-width:1100px) {
    .header .logo {
        padding: 0 5px;
    }
    .navigation ul {
        padding: 0 0 0 235px;
    }
}

@media (max-width:1000px) {
    .header .logo {
        padding: 0 8px;
    }
    .header .logo img {
        width: 135px;
    }
    .navigation {
        padding: 0;
        border: 0;
        border-bottom: 10px solid #fff;
    }
    .navigation ul {
        padding: 0;
        float: none;
    }
    .navigation ul li {
        width: 10%;
    }
}

@media (max-width:900px) {
    .intellisearch #intellisearchval {
        width: 150px;
    }
}

@media (max-width:700px) {
    .intellisearch #intellisearchval {
        display: none;
    }
    .header .stats {
        padding-left: 150px;
    }
}

/* --------------------------------------------------------------
   Admin Tabs
-------------------------------------------------------------- */

ul.client-tabs > li > a,
ul.admin-tabs > li > a {
    margin-left: 5px;
    padding: 4px 10px 3px;
    font-size: 0.9em;
    background-color: #efefef;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #202F60;
}

ul.client-tabs > li > a.dropdown-toggle,
ul.admin-tabs > li > a.dropdown-toggle {
    height: 27px;
    line-height: 5px;
    text-decoration: none;
}

ul.client-tabs > li > a.dropdown-toggle b.caret,
ul.admin-tabs > li > a.dropdown-toggle b.caret {
    margin-top: 7px;
}

ul.client-tabs > li > a:hover,
ul.admin-tabs > li > a:hover {
    border: 1px solid #ccc;
    text-decoration: underline;
}

ul.client-tabs > li.active > a,
ul.admin-tabs > li.active > a {
    font-weight: bold;
}

div.client-tabs .active,
div.admin-tabs .active {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
}

div.client-tabs .context-btn-container,
div.admin-tabs .context-btn-container {
    margin: -10px -10px 10px -10px;
    padding: 8px 8px 8px 20px;
    background-color: #f6f6f6;
    text-align: right;
}

/* --------------------------------------------------------------
   Partner Promotion
-------------------------------------------------------------- */

.partner-box {
    margin:0 0 10px 0;
    padding:10px 15px;
    border-radius:6px;
    background-color:#efefef;
}
.partner-box-blue {
    background-color:#1A4D80;
}
div.partner-logo {
    background-color:#fff;
    border-radius:6px;
    height:100px;
    overflow:hidden;
    position: relative;
    cursor: pointer;
}
div.partner-logo img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div.partner-features {
    padding-top:15px;
    padding-bottom:15px;
    color:#333;
}
div.partner-box-blue div.partner-features {
    color:#fff;
}
div.partner-headline {
    font-size:1.2em;
}
div.partner-actions {
    line-height:50px;
}
@media (min-width:992px) {
    div.partner-actions {
        line-height:100px;
    }
}

div.partner-registrars div.partner-logo {
    height: 60px;
}
div.partner-registrars div.partner-actions {
    line-height:60px;
}

div.partner-modal div.modal-content {
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}
div.partner-modal div.modal-header {
    border-radius: 4px 4px 0 0;
    background-color: #f7f9fa;
    color: #555;
    text-align: center;
}
div.partner-modal div.modal-body {
    font-size: 0.9em;
}
div.partner-modal div.modal-footer {
    background-color: #f7f9fa;
    color: #555;
}
div.partner-modal div.loader-container {
    float: right;
    margin-top: -20px;
    margin-right: 30px;
    color: #888;
}

/* --------------------------------------------------------------
   Popup Window
-------------------------------------------------------------- */

.popup-body {
    margin: 0;
}
.popup-content-area {
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border: 4px solid #E2E7E9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
}

/* --------------------------------------------------------------
   Credit Card Information
-------------------------------------------------------------- */

.credit-card-type {
    position: relative;
}

/* --------------------------------------------------------------
   Error Page
-------------------------------------------------------------- */

.error-page .error-title {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 3em;
    text-align: center;
    color: #666;
}

.error-page .error-title i {
    margin: 0;
    padding: 10px;
    display: block;
    font-size: 2em;
    color: #cc0000;
}

.error-page .error-body {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #efefef;
    border-radius: 4px;
    font-size: 1.4em;
    text-align: center;
}

.error-page .error-footer {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    text-align: center;
}

/* --------------------------------------------------------------
   WHMCS Modal
-------------------------------------------------------------- */

.whmcs-modal .modal-content {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
}
.whmcs-modal .modal-header {
    padding: 30px 15px;
    text-align: center;
}
.whmcs-modal .modal-header h4 {
    font-size: 22px;
}
.whmcs-modal .modal-body {
    background-color: #efefef;
}
