/* --------------------------------------------------------------
   GLOBAL
-------------------------------------------------------------- */

body {
    padding:0;
    margin:0;
    background: url(images/headerbg.jpg) repeat-x 0 0;
    z-index:0;
}
#headerWrapper{
    padding:0;
    margin:0 0 15px 0;
    height:174px;
    z-index:1;
}
#bodyContentWrapper{
    padding: 0 15px;
    min-height:175px;
    position:relative;
}
form {
    margin: 0;
    padding: 0;
}
input, select, textarea {
    color: #666;
}

.select-inline {
    display: inline;
    min-width: 20%;
    max-width: 50%;
    width: auto;
}

.contextbar {
    margin: 0;
    padding: 10px;
    background-color:#666;
    font-size: 14px;
    color: #fff;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.contexthelp {
    float: right;
    margin: 0;
    padding: 3px 15px;
    border: 1px solid #FBEB20;
    background-color: #FFFFD5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.contexthelp a {
    color: #000;
}

/* --------------------------------------------------------------
   LAYERS
-------------------------------------------------------------- */

#logo{
    padding:0px;
    margin:0px;
    background: url(images/sprite.png) no-repeat 0 0;
    height:75px;
    width:255px;
    position:absolute;
    top:47px;
    left:46px;
}
#searchbox {
    position: absolute;
    top: 62px;
    left: 475px;
    width: 550px;
    border: 1px solid #999;
    background-color: #FFF;
    padding: 5px;
    text-align: center;
}
#topnav {
    line-height: 25px;
    font-size: 11px;
    color: #ACCBFF;
    text-align: left;
    margin: 0 auto;
    height: 25px;
    padding: 0;
}
#topnav #welcome {
    text-align: left;
    margin: 0;
    padding: 0;
    float: left;
}
#topnav #date {
    text-align: right;
    margin: 0;
    padding: 0;
    float: right;
}
#intellisearch {
    position:absolute;
    right:0;
    float: right;
    margin: 22px 22px 0 0;
    padding: 0;
    width: 220px;
    z-index:1;
}
#intellisearch .form-control {
    border-right:0;
    box-shadow:0 0 0;
    border-color:#ccc;
}
#intellisearch button {
    border:0;
    background:transparent;
}
#intellisearch #searchresults {
    position: relative;
    top: 2px;
    right: 130px;
    margin: 0 10px 0 0;
    padding: 1px;
    width: 350px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    white-space: nowrap;
    font-size: 0.9em;
}
#clientsearchresults {
    background-color: #FCF9D2;
    border: 1px solid #F9D43E;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    font-size: 11px;
    font-family: Tahoma;
}
#ticketclientsearchresults {
    position: absolute;
    width: 300px;
    background-color: #FCF9D2;
    border: 1px solid #F9D43E;
    padding: 0;
    margin: 0 10px 0 0;
    display: none;
    white-space: nowrap;
    font-size: 10px;
    font-family: Tahoma;
}
#intellisearch #searchresults .searchresultheader, #clientsearchresults .searchresultheader, #ticketclientsearchresults .searchresultheader {
    padding:4px;
    font-weight:bold;
    text-align:center;
}
#intellisearch #searchresults .searchresult, #clientsearchresults .searchresult, #ticketclientsearchresults .searchresult {
    background: #fff;
    padding: 2px 5px;
}
#searchresults .searchresult .label {
    float: right;
    margin: 5px;
}
#intellisearch #searchresults .searchresult .desc, #clientsearchresults .searchresult .desc, #ticketclientsearchresults .searchresult .desc {
    color: #888;
}
#intellisearch #searchresults .searchresult:hover, #clientsearchresults .searchresult:hover, #ticketclientsearchresults .searchresult:hover {
    background-color: #fff;
}
#intellisearch #searchresults .searchresult a, #clientsearchresults .searchresult a, #ticketclientsearchresults .searchresult a {
    text-decoration: none;
    display: block;
}
#clientsearchcancel {
    display: none;
}
#dropmenudiv {
    position: absolute;
    border: 1px solid #CCC;
    border-top: 0;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    z-index: 1;
}
#content_container {
    text-align: left;
    margin: 0;
    padding: 0;
}
#content_container #content {
    text-align: left;
    padding: 0 0 40px 0;
}
#content_container #content #content_padded {
    text-align: left;
    width: 100%;
    margin:0;
}
#content_container #content #content_padded #tab_content {
    text-align: left;
    background-color: #F5F5F5;
    margin: 0px;
    padding: 10px;
}
#footer {
    background-color: #ECECEC;
    border-top: 1px solid #DDD;
    text-align:center;
    margin: 15px 0 0 0;
    padding: 15px;
}
#mynotes {
    display: none;
    position: absolute;
    top: 35px;
    right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    text-align: center;
    z-index: 2;
}

/* --------------------------------------------------------------
   NAVIGATION
-------------------------------------------------------------- */

.navigation {
    padding:0px;
    margin:0px;
    height:35px;
    text-align:left;
    position:absolute;
    bottom:0px;
}
.navigation ul{
    list-style:none;
    padding:0px;
    margin:0px;
    min-width: 970px;
    border: 0;
    float:left;
    position:relative;
    text-align:center;
}
.navigation ul li {
    background-color:#1B3D5E;
    padding:0;
    margin:0 0 0 7px;
    height:35px;
    width:90px;
    line-height:35px;
    text-align:center;
    float:left;
    position:relative;
    cursor: hand;
    cursor: pointer;
    text-decoration:none;
    -moz-border-radius: 8px 8px 0 0;
    -webkit-border-radius: 8px 8px 0 0;
    -o-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
}
.navigation ul li:hover {
    background-color:#F5F5F5;
    text-decoration:none;
}
.navigation ul li ul li:hover {
    background-color:#888888;
    text-decoration:none;
}

.navigation ul li a {
    color:#BBC6EF;
    text-decoration:none;
    font-size: 14px;
    font-weight: bold;
    font-family: Tahoma;
}
.navigation ul li ul {
    position:absolute;
    display:none;
    padding: 5px;
    margin: -2px 0 0 0;
    float:none;
    width:183px;
    min-width:0;
    background-color:#F5F5F5;
    border:2px solid #ccc;
    border-top:0;
    z-index: 100;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}
.navigation ul li ul li ul {
    border:2px solid #ccc;
}
.navigation ul li:hover ul, .navigation ul li:hover ul li:hover ul {
    position:relative;
    display:block;
    float:none;
}
.navigation ul li ul li {
    /* ie7 fix for menu item height */
    font-size:0;
    line-height:0;
    /* ie7 fix for menu item height */
    padding: 0;
    margin: -1px 0 0 0;
    width:170px;
    height:22px;
    text-decoration:none;
    font-weight: normal;
    text-align:left;
    display:block;
    float:none;
    background-color:#F5F5F5;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
}
.navigation ul li ul li.expand {
    background-image:url('../../images/menuexpand.png');
    background-repeat:no-repeat;
    background-position:155px 6px;
}
.navigation ul li:hover ul li ul {
    display:none;
}
.navigation ul li ul li a, .navigation ul li:hover ul li a, .navigation ul li ul li:hover ul li a {
    margin: 0;
    padding: 0 0 0 10px;
    font-family:Tahoma;
    font-size:12px;
    line-height:20px;
    font-weight:normal;
    text-decoration:none;
    color:#000;
    display:block;
}
.navigation ul li ul li ul {
    display:none;
    margin: -25px 0 0 170px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.navigation ul li:hover a {
    color:#000;
}
.navigation ul li ul li:hover a {
    color:#fff;
}
.navigation ul li ul li:hover ul li:hover a {
    color:#fff;
}

/* --------------------------------------------------------------
   HEADERS
-------------------------------------------------------------- */

h1 {
    display: block;
    background-color: #FFF;
    height: 35px;
    color: #2E6194;
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #CCC;
}

h2 {
    font-size: 1.6em;
}

/* --------------------------------------------------------------
   LINKS
-------------------------------------------------------------- */

a {
    color: #333;
    text-decoration: none;
}
a:hover {
    color: #000;
    text-decoration: underline;
}
a.highlight {
    color: #8a0000;
    text-decoration: none;
}
a.highlight:hover {
    color: #8a0000;
}
#topnav a, #topnav a:visited {
    color: #FFF;
    text-decoration: none;
}
#topnav a:hover {
    color: #FFF;
    text-decoration: underline;
}
#navigation ul li a, #navigation ul li a:visited {
    color: #ACCBFF;
    text-decoration: none;
}
#navigation ul li a:hover, #navigation ul li.navbuttonover a, #navigation ul li.navbuttonover a:visited, #navigation ul li.navbuttonover a:hover {
    text-decoration: none;
    color: #00162C;
}
#dropmenudiv a {
    width: 100%;
    background-color: #F5F5F5;
    display: block;
    text-indent: 6px;
    text-decoration: none;
    color: #666;
    font-size: 11px;
    line-height: 25px;
    font-weight: normal;
}
#dropmenudiv a:hover {
    background-color: #EBEBEB;
    color: #333;
}
#sidebar ul.menu li a,
#sidebar ul.menu li a:visited {
    display: block;
    background-color: #F5F5F5;
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    margin: 0;
    font-size: 0.9em;
    color: #666;
    text-decoration: none;
    overflow: hidden;
}
#sidebar ul.menu li a:hover {
    background-color: #EBEBEB;
    color: #333;
}

table.datatable th, table.datatable th a, table.datatable th a:visited {
    color: #FFF;
    text-decoration: none;
}
table.datatable th a:hover {
    color: #FFF;
    text-decoration: underline;
}
table.datatable tr:hover td {
    background-color: #EFF2F9;
}
table.datatable tr.grey-out td, table.datatable tr.grey-out td a {
    color: #999;
}

/* --------------------------------------------------------------
   LISTS
-------------------------------------------------------------- */

#navigation ul {
    max-width: 1200px;
    list-style:none;
    list-style-type: none;
    color: #00162C;
    text-align: left;
    line-height: 35px;
    padding: 0;
    height: 35px;
    margin: 0 auto;
}
#navigation ul li {
    background: url(images/nav_inactive_bg.gif) no-repeat;
    float: left;
    display: block;
    width: 92px;
    height: 35px;
    color: #ACCBFF;
    font-weight: bold;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    margin: 0 5px 0 0;
}
#navigation ul li.navbuttonover {
    background: url(images/nav_selected_bg.gif) no-repeat;
    text-decoration: none;
    color: #00162C;
}
ul.menu {
    list-style:none;
}
#sidebar ul.menu {
    list-style-type: none;
    margin: 0 0 15px 0;
    padding: 0;
    border-top: 0;
    border-bottom: 1px solid #EBEBEB;
}
#sidebar div.menu {
    margin: 0 0 15px 0;
    padding: 4px 10px 10px 10px;
    border-top: 0;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EBEBEB;
}
#sidebar div.menu div.subheader {
    padding: 4px;
    font-weight: bold;
}
#sidebar div.menu select {
    width: 100%;
}
#content_container #content #content_padded #tabs ul, #content_container #content #content_padded #clienttabs ul {
    display: block;
    background-color: #FFF;
    height: 26px;
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    border-bottom: 1px solid #CCCCCC;
}
#content_container #content #content_padded #tabs ul li, #content_container #content #content_padded #clienttabs ul li {
    float: left;
    padding: 0;
    margin: 0 0 0 7px;
}

/* --------------------------------------------------------------
   TABLES
-------------------------------------------------------------- */

table.form {
    background-color: #EBEBEB;
    padding: 0px;
    border: 1px solid #CCC;
}
table.form td.fieldlabel {
    text-align: right;
    background-color: #efefef;
}
table.form td.fieldarea {
    background-color: #efefef;
}
table.datatable {
    padding: 0;
    margin: 0;
}
table.datatable th {
    background-color: #1A4D80;
    font-weight: bold;
    text-align: center;
}
table.datatable td {
    background-color: #FFF;
    border-bottom: 1px solid #EBEBEB;
}
table.datatable tr.rowhighlight td {
    background-color: #EFF2F9;
}
table.datatable th.domain-pricing-head {
    width: 90px;
    min-width: 80px;
}
table.datatable tr.domain-pricing-row td {
    height: 43px;
}
table.datatable tr td.field-highlight {
    background-color: #EFEFEF;
}
table.padded-fields td {
    padding: 2px;
}

/* --------------------------------------------------------------
   IMAGES
-------------------------------------------------------------- */

#logo_container img.banner {
    float: left;
    border: 0;
}

/* --------------------------------------------------------------
   SPECIAL CLASSES
-------------------------------------------------------------- */

.absmiddle {
    vertical-align: middle;
}
.clear {
    clear: both;
}
.smallfont {
    font-size: 0.9em;
}
.tablebg {
    background-color: #FFF;
}
#sidebar .header {
    margin: 0;
    padding: 0 10px;
    background-color: #777;
    border-radius: 5px 5px 0 0;
    color: #FFF;
    border-bottom: 0;
    display: block;
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    white-space: nowrap;
}
#sidebar .plain_header {
    display: block;
    color: #333;
    font-weight: bold;
    height: 25px;
    line-height: 25px;
    border-bottom: 1px solid #CCC;
    padding: 0;
    margin: 0 0 10px 0;
}
#sidebar .contentarea,
#sidebar .tagcloud {
    margin: 0 0 15px 0;
    padding: 10px;
    background-color: #F5F5F5;
    border-bottom: 1px solid #EBEBEB;
}
#sidebar .tagcloud {
    font-size: 0.9em;
}
#sidebar .contentarea input,
#sidebar .contentarea select {
    margin-bottom: 3px;
}
#sidebar .adv-search select {
    margin-bottom: 3px;
}
.disabledtext {
    color:#999;
    font-style:italic;
}

/* --------------------------------------------------------------
   INFO BOXES
-------------------------------------------------------------- */

.infobox {
    background-image: url('../../images/info.png');
    background-repeat: no-repeat;
    background-position: 5px;
    margin: 10px 5px 10px 5px;
    padding: 6px 5px 6px 45px;
    min-height: 28px;
    background-color: #FCF9D2;
    border: 1px solid #F9D43E;
    color: #000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.successbox {
    background-image: url('../../images/success.png');
    background-repeat: no-repeat;
    background-position: 5px;
    margin: 10px 5px 10px 5px;
    padding: 6px 5px 6px 45px;
    min-height: 28px;
    background-color: #D7ECB8;
    border: 1px solid #93C44A;
    color: #537225;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.errorbox {
    background-image: url('../../images/error.png');
    background-repeat: no-repeat;
    background-position: 5px;
    margin: 10px 5px 10px 5px;
    padding: 6px 5px 6px 45px;
    min-height: 28px;
    background-color: #FFF3F3;
    border: 1px solid #FFBBBB;
    color: #000;
    text-align: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
.contentbox {
    text-align: center;
    background-color: #f7f7f7;
    border: 1px dashed #cccccc;
    padding: 10px;
}
.invoicetooltip {
    background-color: #888888;
    color: #000000;
    padding: 5px;
    z-index: 1;
}
.gracefulexit {
    margin: 100px auto;
    padding: 40px 25px;
    width: 60%;
    background-color: #FFF4F4;
    border: 2px dashed #FFD7D7;
    color: #000;
    font-size: 18px;
    text-align: center;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

/* --------------------------------------------------------------
   TEXT COLORS
-------------------------------------------------------------- */

.textblack {
    color: #000000;
}
.textblue {
    color: #224488;
}
.textgreen {
    color: #779500;
}
.textgrey {
    color: #888888;
}
.textgold {
    color: #ffbb55;
}
.textorange {
    color: #ff6600;
}
.textred {
    color: #cc0000;
}

/* --------------------------------------------------------------
   STATUS LABELS
-------------------------------------------------------------- */

.label {
    padding: 1px 3px 2px;
    background-color: #BFBFBF;
    font-size: 10px;
    font-weight: normal;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.label.pending, .label.collections {
    background-color: #F89406;
}
.label.active, .label.paid {
    background-color: #46A546;
}
.label.suspended, .label.expired, .label.refunded {
    background-color: #0768B8;
}
.label.terminated, .label.closed, .label.unpaid {
    background-color: #C43C35;
}
.label.cancelled {
    background-color: #BFBFBF;
}
.label.fraud {
    background-color: #000;
}

/* --------------------------------------------------------------
   DATE PICKER
-------------------------------------------------------------- */

.datepick {
    width: 120px;
}
.datepick + img {
    position: relative;
    left: -21px;
    top: -1px;
}

.date-picker {
    display: inline;
    width: 140px;
}
.date-picker + img {
    position: relative;
    left: -25px;
    top: -2px;
}

/* --------------------------------------------------------------
   ADMIN HOMEPAGE
-------------------------------------------------------------- */

.homewidget {
    margin: 10px 0;
    padding: 0;
    border: 1px solid #efefef;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.homewidget .widget-header {
    padding: 5px 10px;
    background-color: #f5f5f5;
    font-weight: bold;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}
.homewidget .widget-header .ui-icon {
    float: right;
}
.homewidget .widget-content {
    padding: 5px;
    overflow: auto;
}
.homewidget .widget-content .label {
    padding-right: 5px;
    text-align: right;
}
.homewidget .widget-content .fixed-height-container {
    max-height: 300px;
    overflow: auto;
}
.homewidget .widget-footer {
    margin: 5px -5px -5px -5px;
    padding: 5px 10px;
    background-color: #f5f5f5;
    text-align: right;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.homewidget .activity-log-entry {
    margin: 0;
    padding: 5px 10px;
    border-top:1px solid #efefef;
    font-size:0.9em;
}
.homewidget .activity-log-entry small {
    color: #ccc;
}

.ui-sortable-placeholder {
    border: 1px dashed #ccc;
    visibility: visible !important;
    height: 50px !important;
}

.ui-sortable-placeholder * {
    visibility: hidden;
}

@media (min-width:992px) {
    .homecolumn.left {
        margin-right: -10px;
    }
    .homecolumn.right {
        margin-left: -10px;
    }
}

/* --------------------------------------------------------------
   CLIENT SUMMARY PAGE
-------------------------------------------------------------- */

.clientssummarybox {
    margin: 1px 1px 2px 1px;
    padding: 10px;
    background-color: #efefef;
}
.clientssummarybox .title {
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    font-size: 14px;
    color: #000;
}
.clientssummarybox ul {
    list-style-type: none;
    margin: 10px 0 0 0;
}
.clientssummarybox ul li {
    margin: 0 0 2px 20px;
}
table.clientssummarystats {
    width: 100%;
}
table.clientssummarystats td {
    padding: 2px 5px;
    background-color: #ffffff;
    font-size: 11px;
}
table.clientssummarystats tr.altrow td {
    background-color: #f6f6f6;
}
.clientsummaryactions {
    float:right;
    margin: -2px 0;
    padding:4px 15px;
    border:1px solid #ccc;
    background-color:#fff;
    font-size:14px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}

#clientsummarycontainer #statusfilter {
    display:none;
    position: absolute;
    margin: -5px 0 0 0;
    padding: 15px;
    width: 150px;
    right: 23px;
    background-color: #fff;
    border: 2px solid #E2E7E9;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#clientsummarycontainer div.checkall {
    text-align: right;
    font-size: 11px;
}

#clientsummarycontainer div.applybtn {
    padding: 10px 0 0 0;
    text-align: center;
}

/* --------------------------------------------------------------
   SUPPORT TICKETS
-------------------------------------------------------------- */

.ticketlastreply {
    float: right;
    margin: -45px 0 0 0;
    padding: 5px 15px;
    font-size: 11px;
    background-color: #333;
    color: #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

#ticketreplies .reply {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #C5D8EB;
    background-color: #F7FAFD;
    box-shadow: 0 0 5px #CEE0F0;
}

#ticketreplies .staffreply {
    margin: 0 0 10px 0;
    padding: 0;
    border: 1px solid #EFE9D3;
    background-color: #FAF8F1;
    box-shadow: 0 0 5px #F3EFDE;
}

#ticketreplies .reply .leftcol, #ticketreplies .staffreply .leftcol {
    float: left;
    width: 200px;
}

#ticketreplies .reply .rightcol, #ticketreplies .staffreply .rightcol {
    margin-left: 200px;
    border-left: 1px solid #e5e5e5;
    min-height: 150px;
}

#ticketreplies .submitter {
    text-align: right;
    padding: 15px 20px;
}

#ticketreplies .submitter .name {
    font-weight: bold;
}

#ticketreplies .submitter .title {
    font-size: 11px;
    font-style: italic;
    color: #8BB1D8;
    padding: 4px 12px;
}

#ticketreplies .tools {
    margin: 0;
    padding: 0 20px;
    text-align: right;
}

#ticketreplies .postedon {
    padding: 10px 12px 0 12px;
    font-size: 11px;
    color: #999;
}

#ticketreplies .quoteicon {
    float: right;
    padding: 10px;
}

#ticketreplies .msgwrap {
    padding: 10px;
}

#ticketreplies .message {
    padding: 0;
    color: #000;
}

.ticketstaffnotes {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: #FFFFE6;
    border: 1px dashed #DACD83;
}

.ticketstaffnotes table {
    margin: 0;
    padding: 0;
    width: 100%;
    border-bottom: 1px dashed #DACD83;
}

.ticketstaffnotes table td {
    padding: 2px 10px;
    font-weight: bold;
    color: #695F1F;
}

.ticketstaffnotes div {
    margin: 0;
    padding: 8px 10px;
}

.ticketflag {
    background-color: #FFFFCC;
}

.ticketattachmentcontainer {
    float:left;
    padding:0 10px 10px 0;
    margin: 0;
    text-align:center;
}

.ticketattachmentthumb {
    padding:10px;
    margin:0 0 3px 0;
    background-color:#fff;
    border:1px solid #ccc;
    text-decoration: none;
}

#prerepliescontainer {
    display: none;
}

#prerepliescontainer #predefq {
    background-image: url("../../images/icons/search.png");
    background-position: 5px 3px;
    background-repeat: no-repeat;
    margin: 0;
    padding: 2px 2px 2px 25px;
    border: 1px solid #ccc;
}

#prerepliescontainer .box {
    margin:10px auto;
    padding:5px;
    background-color: #fff;
    border:1px solid #ccc;
    text-align:left;
    width:80%;
    min-height: 24px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    z-index: 100;
}

#sidebar .ticketheader {
    display: block;
    margin: 0;
    text-align: left;
    font-style: italic;
    color: #888;
}

#sidebar .select-assignto {
    display: inline;
    width: 130px;
}

#sidebar .tagcloud a {
    color: #9B9B9B;
    text-decoration: none;
}

#sidebar .tagcloud a:hover {
    text-decoration: underline;
}

#relatedservicesexpand {
    margin: -5px 15px 15px 15px;
    text-align: right;
}

/* --------------------------------------------------------------
   EMAIL TEMPLATES
-------------------------------------------------------------- */

.emailtplstandard {
    float:left;
    width:28%;
    margin:5px;
    padding:10px 20px 10px 20px;
    background-color:#efefef;
}

.emailtplcustom {
    float:left;
    width:28%;
    margin:5px;
    padding:10px 20px 10px 20px;
    background-color:#fff4d5;
}

.emailtpldisabled {
    float:left;
    width:28%;
    margin:5px;
    padding:10px 20px 10px 20px;
    background-color:#ffe8e8;
}

/* --------------------------------------------------------------
   ADDON MODULES DIRECTORY
-------------------------------------------------------------- */

#addonscats {
    background-color:#fff;
    float:left;
    width:200px;
    padding:10px 0 0 0;
}
#addonscats .cat {
    padding:5px 10px 5px 10px;
    margin:5px 0 5px 0;
    border:2px solid #7EAADA;
    border-right:0;
    text-align:right;
    text-decoration: underline;
    cursor: hand;
    cursor: pointer;
    -moz-border-radius-topleft: 5px;
    -webkit-border-radius-topleft: 5px;
    -o-border-radius-topleft: 5px;
    border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-radius-bottomleft: 5px;
    -o-border-radius-bottomleft: 5px;
    border-radius-bottomleft: 5px;
}
#addonscats .cat.addonsel {
    background-color: #EBF2FA;
    color: #4081C8;
    font-weight: bold;
}
#addonslist {
    border:2px solid #7EAADA;
    padding:10px;
    height: 500px;
    overflow:auto;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
#addonslist .heading {
    font-family: Arial;
    font-size: 20px;
    margin: 0 0 15px 20px;
    color: #3068A7;
}
#addonslist .loading {
    text-align:center;
    font-size:16px;
    padding:60px 0 0 0;
}
#searchaddons {
    text-align: right;
    padding: 0 20px 5px 0;
}

/* --------------------------------------------------------------
   REPORTS
-------------------------------------------------------------- */

table.reportslisting {
    width: 80%;
    margin: 0 auto;
}

table.reportslisting td {
    width: 33%;
    height: 45px;
    text-align: center;
    font-size: 14px;
}

table.reportslisting td a {
    padding: 10px 50px;
    border: 2px solid #efefef;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

table.reportslisting td a:hover {
    padding: 10px 50px;
    border: 2px solid #efefef;
    background-color: #f2f2f2;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

/* --------------------------------------------------------------
   ORDER SUMMARY
-------------------------------------------------------------- */

.ordersummarytitle {
    font-family:Arial;
    font-size:20px;
    text-align:center;
}
.ordersummaryleftcol {
    width:60%;
    min-width:600px;
}
#ordersummary {
    margin: 20px 0;
    padding: 0;
    border: 1px solid #B4B4B4;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0px 0px 20px #000;
    -webkit-box-shadow: 0px 0px 20px #ccc;
    -o-box-shadow: 0px 0px 20px #ccc;
    box-shadow: 0px 0px 20px #ccc;
}
#ordersummary table {
    width: 100%;
}
#ordersummary tr td {
    padding: 3px 10px;
}
#ordersummary tr.item td {
    padding: 10px 10px 12px 10px;
    border-bottom: 1px dashed #B4B4B4;
}
#ordersummary div.itemtitle {
    font-size: 16px;
}
#ordersummary div.itempricing {
    text-align: right;
    font-size: 20px;
}
#ordersummary td.alnright {
    text-align: right;
}
#ordersummary tr.subtotal td {
    background-color: #FFFFDF;
    font-size: 14px;
    padding: 4px 10px;
}
#ordersummary tr.promo td {
    background-color: #FFE1E1;
    font-size: 12px;
    padding: 4px 10px;
}
#ordersummary tr.tax td {
    background-color: #E6F7FF;
    font-size: 12px;
    padding: 4px 10px;
}
#ordersummary tr.total td {
    background-color: #E7FFDA;
    font-size: 26px;
    padding: 6px 10px;
}
#ordersummary tr.recurring td {
    background-color: #FFE1E1;
    font-size: 12px;
    padding: 4px 10px;
}

/* --------------------------------------------------------------
   CHAT TRANSCRIPTS
-------------------------------------------------------------- */

div.chat div.visitor div.name, div.chat div.operator div.name {
    font-weight: bold;
}
div.chat div.visitor div.message, div.chat div.operator div.message {
    padding: 0 25px;
}

/* --------------------------------------------------------------
   ADMIN DIALOG
-------------------------------------------------------------- */

div.admindialog {
    display:none;
    margin: 0;
    width: 598px;
    background-color: #00162D;
    border: 10px solid #00162D;
    -moz-box-shadow: 5px 0px 20px #535353;
    -webkit-box-shadow: 5px 0px 20px #535353;
    -o-box-shadow: 5px 0px 20px #535353;
    box-shadow: 5px 0px 20px #535353;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    z-index:10000;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div.admindialog * {
    line-height: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
div.admindialog div.tabs a {
    float: left;
    display:block;
    margin: 0 0 0 10px;
    padding: 5px 20px;
    background-color: #1B3D5E;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -o-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
}
div.admindialog div.tabs a:hover {
    background-color: #255381;
}
div.admindialog a.close {
    display:block;
    float: right;
    margin: 0;
    padding: 0 5px 3px 5px;
    color: #00162D;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #fff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
div.admindialog a.close:hover {
    color: #000;
}
div.admindialog div.content {
    margin: 0;
    padding: 0;
    min-height: 300px;
    background-color: #fff;
    border: 4px solid #efefef;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
div.admindialog div.donotshow {
    margin: 0;
    padding: 8px 10px 0 10px;
    color: #fff;
    font-size: 10px;
}

/* --------------------------------------------------------------
   SERVICES
-------------------------------------------------------------- */

a.moduleloginlink {
    color: #cc0000;
}

/* --------------------------------------------------------------
   TABS
-------------------------------------------------------------- */

ul.client-tabs > li > a,
ul.admin-tabs > li > a {
    padding: 6px 15px;
    background-color: #f6f6f6;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

ul.client-tabs > li > a.dropdown-toggle,
ul.admin-tabs > li > a.dropdown-toggle {
    height: 34px;
    line-height: 34px;
    text-decoration: none;
}

ul.client-tabs > li > a.dropdown-toggle b.caret,
ul.admin-tabs > li > a.dropdown-toggle b.caret {
    margin-top: 9px;
}

ul.client-tabs > li > a:hover,
ul.admin-tabs > li > a:hover {
    border: 1px solid #ccc;
    text-decoration: underline;
}

ul.client-tabs > li.active > a,
ul.admin-tabs > li.active > a {
    font-weight: bold;
}

div.client-tabs .active,
div.admin-tabs .active {
    padding: 10px;
    border: 1px solid #ddd;
    border-top: 0;
}

div.client-tabs .context-btn-container,
div.admin-tabs .context-btn-container {
    margin: -10px -10px 10px -10px;
    padding: 8px 8px 8px 20px;
    background-color: #f6f6f6;
    text-align: right;
}

/* --------------------------------------------------------------
   TABLES
-------------------------------------------------------------- */

table.form {
    background-color: #fff;
    margin: 0 0 5px 0;
    padding: 0px;
    border: 3px solid #E2E7E9;
    border-collapse: separate;
    border-spacing: 2px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
table.form td {
    padding: 3px 5px;
}
table.form td.fieldlabel {
    background-color: #fff;
    text-align: right;
}
table.form td.fieldarea {
    background-color: #efefef;
    text-align: left;
}
div.tablebg {
    margin: 1em 0;
}
table.datatable {
    margin: 0 0 10px 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 1px;
}
table.datatable th {
    padding: 4px;
    background-color: #1A4D80;
    font-weight: bold;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}
table.datatable td {
    padding: 3px;
    background-color: #FFF;
    border-bottom: 1px solid #EBEBEB;
}
table.datatable tr.rowhighlight td {
    background-color: #E0E8F3;
}
table.datatable tr:hover td {
    background-color: #EFF2F9;
}
table.datatable th, table.datatable th a, table.datatable th a:visited {
    color: #FFF;
    text-decoration: none;
}
table.datatable th a:hover {
    color: #FFF;
    text-decoration: underline;
}
table.datatable tr:hover td {
    background-color: #F3F3F3;
}

.btn-container {
    padding: 10px 0;
    text-align: center;
}

.top-margin-5 {
    margin-top: 5px;
}

.bottom-margin-5 {
    margin-bottom: 5px;
}

.top-margin-10 {
    margin-top: 10px;
}

.bottom-margin-10 {
    margin-bottom: 10px;
}

/* --------------------------------------------------------------
   Partner Promotion
-------------------------------------------------------------- */

.partner-box {
    margin:0 0 10px 0;
    padding:10px 15px;
    border-radius:6px;
    background-color:#f8f8f8;
}
.partner-box-blue {
    background-color:#1A4D80;
}
div.partner-logo {
    background-color:#fff;
    border-radius:6px;
    height:100px;
    overflow:hidden;
    position: relative;
    cursor: pointer;
}
div.partner-logo img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
div.partner-features {
    padding-top:15px;
    padding-bottom:15px;
    color:#333;
}
div.partner-box-blue div.partner-features {
    color:#fff;
}
div.partner-headline {
    font-size:1.2em;
}
div.partner-actions {
    line-height:50px;
}
@media (min-width:992px) {
    div.partner-actions {
        line-height:100px;
    }
}

div.partner-registrars div.partner-logo {
    height: 60px;
}
div.partner-registrars div.partner-actions {
    line-height:60px;
}

div.partner-modal div.modal-content {
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
}
div.partner-modal div.modal-header {
    border-radius: 4px 4px 0 0;
    background-color: #f7f9fa;
    color: #555;
    text-align: center;
}
div.partner-modal div.modal-body {
    font-size: 0.9em;
}
div.partner-modal div.modal-footer {
    background-color: #f7f9fa;
    color: #555;
}
div.partner-modal div.loader-container {
    float: right;
    margin-top: -20px;
    margin-right: 30px;
    color: #888;
}

/* --------------------------------------------------------------
   Popup Window
-------------------------------------------------------------- */

.popup-body {
    margin: 0;
}
.popup-content-area {
    margin: 10px;
    padding: 15px;
    background-color: #fff;
    border: 4px solid #E2E7E9;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    overflow: auto;
}

/* --------------------------------------------------------------
   Credit Card Information
-------------------------------------------------------------- */

.credit-card-type {
    position: relative;
}

/* --------------------------------------------------------------
   Error Page
-------------------------------------------------------------- */

.error-page .error-title {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: 3em;
    text-align: center;
    color: #666;
}

.error-page .error-title i {
    margin: 0;
    padding: 10px;
    display: block;
    font-size: 2em;
    color: #cc0000;
}

.error-page .error-body {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #efefef;
    border-radius: 4px;
    font-size: 1.4em;
    text-align: center;
}

.error-page .error-footer {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    text-align: center;
}

/* --------------------------------------------------------------
   WHMCS Modal
-------------------------------------------------------------- */

.whmcs-modal .modal-content {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: none;
}
.whmcs-modal .modal-header {
    padding: 30px 15px;
    text-align: center;
}
.whmcs-modal .modal-header h4 {
    font-size: 22px;
}
.whmcs-modal .modal-body {
    background-color: #efefef;
}
